@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my new website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/dQw4w9WgXcQ">
    </iframe>

</body>

<style>
    #container {
        width: 400px;
        height: 400px;
        position: relative;
        background: blue;
    }

    #animate {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: green;
    }
</style>
<body>

    <p><button onclick="myMove()">Click Me NOW!</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>

    <script>
        var id = null;
        function myMove() {
            var elem = document.getElementById("animate");
            var pos = 0;
            clearInterval(id);
            id = setInterval(frame, 5);
            function frame() {
                if (pos == 350) {
                    clearInterval(id);
                } else {
                    pos++;
                    elem.style.top = pos + "px";
                    elem.style.left = pos + "px";
                }
            }
        }
    </script>

</body>